### **Changing Settings**

To change settings, manipulate the scroll wheels, dropdown boxes and choice buttons to adjust the timer settings. The
timer will automatically update to reflect the new settings.

The timer will internally remember the current settings until you change them again or load a stowed configuration (see
below).

You do not need to click any buttons to apply the settings. The timer will automatically update to reflect the new
settings.

### **Stowing and Loading Settings**

You can easily stow your preferred timer settings for future use. With one click, you can load your stowed settings to
quickly configure the timer for your workout.

To stow your settings, click the **Stow** button and enter a name for the stowed configuration.

To load your stowed settings, click the **Load** button and then click the entry that you want to load. The timer
settings will automatically update with the stowed settings.

To delete a stowed setting configuration, click the **Load** button and then click the trash can icon of the entry that
you want to delete.

If you make changes to the configuration, the timer will not overwrite any of your named stowed configurations. However,
it will internally remember the current settings until you change them again or load another stowed configuration.